


<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8"><%= title %></h1>
 

</div>

<body>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/images/stock.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stock Project</h5>
      <p class="card-text"><%= project1 %></p>
      <p class="card-text"><small class="text-muted">08/2015- 09/2016</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/web.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text"><%= project2 %></p>
      <p class="card-text"><small class="text-muted">01/2021 - Present</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/sql.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Linking SQL to website</h5>
      <p class="card-text"><%= project3 %></p>
      <p class="card-text"><small class="text-muted">01/2021 - Present</small></p>
    </div>
  </div>
</div>

  
</body>


</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 






 













